/* COLOR SCHEME */
*{
    /* border: black solid 2px;  */
    font-family: 'Lexend Deca', sans-serif;
}

/* links  */
a {
    color: #025928; 
    text-decoration: none; 
}

a:visited{
    color: #248e38;
}

a:hover {
    color: #d96704; 
}

a:active {
    color: #85bf4b;
}

/* base.html */
body {
    margin: 0 auto; 
    /* background-image: url("images/money_falling.png"); */
    background-color: rgba(144, 170, 134, 0.8);
}

.background {
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../images/https:_blogs-images.forbes.com_ofx_files_2018_09_OFX3-iStock-492595743-1200x800.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    z-index: -99;
}

.background:before {
    width:100%;
    height:100%;
    content:" ";
    display: block;
    z-index:0;
    background-color: rgba(144, 170, 134, 0.8);
}

main {
    text-align: center;
}

.logo {
    text-decoration: none;
    display: grid;
    grid-template-columns: 2em 90%; 
    padding: 10px; 
}

img {
    max-width: 100%;
    width: 60px;
    height: 50px; 
    padding: 10px;
    padding: 0px; 
}

h2 {
    margin: 0; 
    padding: 10px; 
    max-width: 100%;
    position: relative;
    left: 0; 
    padding-left: 0px; 
}

header {
    background-color:  rgba(130, 76, 113, 1); 
    color: rgba(74, 37, 69, 1); 
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 90%; 
}

/* having a floating menu on hover */
.dropdown {
    position: relative;
    display: inline-block; 
    /* height: 50px;   */
    height: 100px;
}

.navbar-content {
    display: none;
    font-size: 20px; 
    position: absolute; 
    background-color: rgba(144, 170, 134, 0.9);
    list-style-type: none;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,1,0.2);
    padding: 30px 50px; 
    z-index: 1; 
    font-size: 20px; 
}

.dropdown:hover .navbar-content {
    display: block; 
}

.projects_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em; 
    /* margin: 0 20px;  */
}

.project_preview {
    font-size: 20px; 
    list-style-type: none;
    padding: 20px; 
    text-align: center; 
    /* background: rgba(144, 170, 134, 0.8); */
    background: #66e281;
    line-height: 2.0; 
    background-color: 
}

.project_page {
    /* background-color: rgba(144, 170, 134, 0.8); */

}

.project_details {
    background-color: rgba(144, 170, 134, 0.8);
    padding: 20px; 
    margin-bottom: 0; 
    
}

.action_links {
    background-color: rgba(144, 170, 134, 0.8);    
}

.rewards {
    background-color: rgba(144, 170, 134, 0.8);
}

.comments {
    background-color: rgba(144, 170, 134, 0.8);
}

footer {
    background-color: rgba(130, 76, 113, 1); 
    color: rgba(74, 37, 69, 1);
    padding: 20px;
    text-align: right; 
    position: absolute;  
    left: 0;
    bottom: 0; 
    width: 100%; 
}

form {
    background-color: rgba(220, 204, 163, 0.8);
    margin: 20px auto;
    padding: 0 20px 20px 20px;
    max-width: 60%;
    text-align: left;
}

form table {
    margin: 0 auto;
}

main section {
    margin: 30px auto;
    padding: 20px 20px;
    max-width: 80%;
    background-color: rgba(255,255,255,.5);
}

table td {
    text-align: left;
}

.header-title {
    color: #000;
}