/* COLOR SCHEME */

.logo {
    
}
header {
    /* background: url("image/crowd1.png"); */
    background-color:  rgba(130, 76, 113, 0.5); 
    color: rgba(74, 37, 69, 1); 
    padding: 20px;
}

nav {
    display: inline; 
    padding: 0.5em; 
}
.navbar {
    list-style-type: none;

}

.projects_gallery {

}

footer {
    background-color: rgba(130, 76, 113, 0.5); 
    color: rgba(74, 37, 69, 1);
    padding: 20px;
    text-align: right; 
    

}

