{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/crowdfunder.css' %}">
    <title>CrowdFunder</title>
</head>
<body>
    <header>
        <h1>
            <a href='{% url "home_page" %}'> Crowdfunder logo </a>
        </h1>
        <nav>
            <ul>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'new_project' %}">Create Project</a></li>
                    <li><a href="{% url 'user_profile' request.user.id %}">User Profile</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Signup </a></li>
                    <li><a href="{% url 'login' %}">Login </a></li>
                {% endif %}
                
                <li><a href="{% url 'all_users' %}">All Users</a></li>
            </ul>
            <section class="search_bar">
                <form action="{% url 'search_project'%}" method="get">
                    <label for="search-project">
                        <span>Search:</span>
                        <input type="search" id="search-project" name="query" value="{{ query }}"/>
                    </label>
                    <input type="submit" value="Search"/>
                </form>
            </section>
        </nav>
    </header>
    <main>{% block content%} {% endblock %}</main>
    
    <footer>
        created dopely by SASA 
    </footer>
</body>
</html>