<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CrowdFunder</title>
</head>
<body>
    <header>
        <h1>
            <a href='{% url "home_page" %}'> Crowdfunder logo </a>
        </h1>
        <nav>
            <ul>
                <li><a href='{% url "signup" %}'> sign up </a></li>
                <li><a href='{% url "login" %}'> login </a></li>
                <li><a href='#'> search</li>
            </ul>
        </nav>
    </header>
    <main>{% block content%} {% endblock %}</main>
    
    <footer>
        created dopely by SASA 
    </footer>
</body>
</html>