{% extends 'base.html' %}
{% block content %}
<h1>Edit your Comment on {{ project.title }}</h1>

<form method="POST" action="{% url 'edit_comment' project_id=project.pk comment_id=comment.id %}" >
    {% csrf_token %}
    <table>
        {{ comment_form.as_table }}
    </table>

{% block title %}
    - Edit your comment on {{ project.title }}
{% endblock %}

{% block content %}
    <section>
        <h2>Edit your comment on {{ project.title }}</h2>
        <form method="POST" action="{% url 'update_comment' project_id=project.pk comment_id=comment.pk %}">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        <input type="submit" value="Save comment" />
    </section>
{% endblock %}