/* Coolors Exported Palette - coolors.co/dccca3-824c71-4a2545-000001-90aa86 */

/* HSL */
$color1: hsla(43%, 45%, 75%, 1);
$color2: hsla(319%, 26%, 40%, 1);
$color3: hsla(308%, 33%, 22%, 1);
$color4: hsla(240%, 100%, 0%, 1);
$color5: hsla(103%, 17%, 60%, 1);

/* RGB */
$color1: rgba(220, 204, 163, 1);
$color2: rgba(130, 76, 113, 1);
$color3: rgba(74, 37, 69, 1);
$color4: rgba(0, 0, 1, 1);
$color5: rgba(144, 170, 134, 1);